.container-header {
  background-color: #1976d2;
  margin: 1rem auto;
  color: #fff;
  text-align: center;
  min-height: 3.2rem;
  height: 4rem;
  font-size: 1.5rem;
}
.container-header .header_h4 {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  margin: 1rem;
}
